[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
pandas-datareader = "*"
matplotlib = "*"
scikit-learn = "*"
tensorflow = "*"
pyportfolioopt = "*"
seaborn = "*"
plotly = "*"
vadersentiment = "*"
transformers = "*"
datasets = "*"
textblob = "*"
pymongo = "*"
cerberus = "*"
fastapi = {extras = ["all"], version = "*"}
keras = "*"
wandb = "*"
statsmodels = "*"
yfinance = "*"
autopep8 = "*"
psycopg2 = "*"
sqlalchemy = "*"
tqdm = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
